{% extends "base.html" %}   // Inherits all the components from base template, including the header and footer
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main2.css' %}">
<div class="sidenav">
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Dashboard</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <!-- <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li> -->

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>


</div>

 <div class="h_nav">
<!--  <li>-->
<!--      <img src="{% static 'images/logo.png' %}" alt="LOGO">-->
<!--      <a href="#logo">Dashboard Kit</a>-->
<!--  </li>-->

  <input type="text" placeholder="Search..">  <li><a href="#Database">Database</a></li>

  <li><img src="{% static '/images/new.png' %}" alt="NOTIFICATIONS"></li>

  <li>
      <a href="#logo">INSERT NAME</a>
      <img src="{% static '/images/5.png' %}" alt="PROFILE PIC">
  </li>

 </div>
    <script src="{% static 'javascript/home.js' %}">
    </script>

{% block page %}

{% endblock %}

{% endblock %}
