<!DOCTYPE html>
<html lang="en">
<head>
<title>TTDS CW3 Song Search</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-camo.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="landing.css">


<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.content {
  max-width: 500px;
  margin: auto;
  background: #ffffff;
  padding: 10px;
}
</style>
</head>
<body>

  <div class="content">

    <div class="w3-center" style="padding-bottom: 50px">
      <h2>Tap the search icon to search...</h2>
    </div>

    <form>
    	<label for="search">Search</label>
    	<input id="search" type="search" pattern=".*\S.*" required>
    	<span class="caret"></span>
    </form>
  </div>



  <script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }

  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }
  </script>
</body>
</html>
